= cache_if(Feature.enabled?(:cached_loading_hints, current_user), [ActionController::Base.asset_host, user_application_theme, user_color_scheme], expires_in: 1.minute) do
  - css_crossorigin = ActionController::Base.asset_host ? 'anonymous' : nil

  - if ActionController::Base.asset_host
    %link{ rel: 'dns-prefetch', href: ActionController::Base.asset_host }
    %link{ rel: 'preconnect', href: ActionController::Base.asset_host, crossorigin: '' }
  - if user_application_theme == 'gl-dark'
    = preload_link_tag(path_to_stylesheet('application_utilities_dark'), crossorigin: css_crossorigin)
    = preload_link_tag(path_to_stylesheet('application_dark'), crossorigin: css_crossorigin)
  - else
    = preload_link_tag(path_to_stylesheet('application_utilities'), crossorigin: css_crossorigin)
    = preload_link_tag(path_to_stylesheet('application'), crossorigin: css_crossorigin)
  = preload_link_tag(path_to_stylesheet("highlight/themes/#{user_color_scheme}"), crossorigin: css_crossorigin)
  - if Gitlab::Tracking.enabled? && Gitlab::Tracking.collector_hostname
    %link{ rel: 'preconnect', href: Gitlab::Tracking.collector_hostname, crossorigin: '' }
